@import 'compass';

img {
  max-width: 100%;
  height: auto;

 }

.body-container {
  width: 666px;
  margin: 0 auto;
}

.match-maker-container {
  width: 666px;
  margin: 0 auto;
}

.match-profile {
  float: left;
  width: 45%;
  margin: 2.5%;
}

.match-profile--name {

}

.match-profile--description {

}

.match-profile--link {

}
