@import 'compass';

img {
  height: auto;
  max-width: 100%;
}

.body-container {
  width: 666px;
  margin: 0 auto;
}

.match-maker-container {
  width: 666px;
  margin: 0 auto;
  @include pie-clearfix;

}

.match-profile {
  float: left;
  width: 45%;

}

.match-profile--name {

}

.match-profile--description {

}

.match-profile--link {

}
