/* line 3, ../../sass/screen.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 9, ../../sass/screen.scss */
.body-container {
  width: 666px;
  margin: 0 auto;
}

/* line 14, ../../sass/screen.scss */
.match-maker-container {
  width: 666px;
  margin: 0 auto;
}

/* line 19, ../../sass/screen.scss */
.match-profile {
  float: left;
  width: 45%;
  margin: 2.5%;
}
